<div style="margin-top: 10px;text-align: center">
  <h2>Menúes registrados</h2>

  <table align='center' style="text-align:center; border: 1px solid black">
    <tr>
      <th style="border: 1px solid black;"><b>Cantidad</b></th>
      <th style="border: 1px solid black;text-align:center"><b>Fecha</b></th>
    </tr>

    <% @foods.each do |food| %>
        <tr>
          <td style="border: 1px solid black;"><%= food.quantity%></td>
          <td style="border: 1px solid black;"><%= food.date.localtime.strftime("%d/%m/%Y %H:%M:%S") %></td>
        </tr>
    <% end %>
  </table>
</div>