<p id="notice"><%= notice %></p>

<br>

<h2 style="text-align: center">Registrar menúes</h2>
<div class="field" style="margin-top: 10px;text-align: center" class="col-sm-4 col-sm-offset-4'">
  <%= form_for :food do |f| %>
      <p>
        <%= f.label :Cantidad %><br>
        <%= f.number_field :quantity%>
      </p>
      <div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
  <% end %>
</div>  


