<h2 style="text-align: center">Registrar menúes</h2>
<div class="field" style="margin-top: 10px;text-align: center" class="col-sm-4 col-sm-offset-4'">
    <%= label_tag :"Cantidad"%><br />
    <%= number_field_tag :"Cantidad", autofocus: true, :class => "form-control"  %>
    <div class="actions" style="margin-top: 10px;">
        <button class="btn btn-primary">ENVIAR</button>
    </div>
</div>

<!--

<div class="actions" style="margin-top: 10px;">
  <button class="btn btn-primary">ENVIAR</button>
</div>-->
